<app-navigation></app-navigation>
<mat-tab-group >
  <mat-tab class="tab-center" label="Adventures"> 
    <div *ngIf="!(fishingProfile.id == 0)">
      <button type="button" (click)="closeFishing()" class="btn btn-lg btn-block btn-outline-primary">Back</button>
      <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
          <h1 class="display-4">{{fishingProfile.description}}</h1>
          <p class="lead">{{fishingProfile.adress}}</p>
      </div>
      <p>{{fishingProfile.instructorBio}}</p>
      <!-- <label class="image-upload-container btn btn-bwm">
          <span>Select Image</span>
          <input #imageInput
                type="file"
                accept="image/*"
                (change)="processFile(imageInput)">
      </label> -->

      <div class="container row">
          <div class="col-md-12">
              <h1>Upload Image</h1>
          </div>
      </div>
      <div class="container row">
          <div class="col-md-6">
              <input type="file" (change)="onFileChanged($event)" class="form-control">
          </div>
          <div class="col-md-6">
              <input type="button" (click)="onUpload()" value="upload" class="btn btn-secondary">
          </div>
      </div>
      <hr />
      <div class="container row">
          <div class="col-md-12">
              <div *ngIf=message>{{message}}</div>
          </div>
      </div>
      <div class="container row">
        
          <div class="col-md-6">
              <input type="button" (click)="getImages()" value="Get Images" class="btn btn-secondary">
          </div>
      </div>
      <!-- <div class="container row">
          <div class="col-md-12">
              <div *ngIf=retrievedImages>
                  <img [src]="retrievedImages[0]" style="max-height: 100%; max-width: 100%">
              </div>
          </div>
      </div> -->

      <div class="slideshow-container" >
          <div *ngFor="let image of retrievedImages; let i = index;" class="mySlides fade" >
              
                  <div class="numbertext">{{i+1}} / {{retrievedImages.length}}</div>           
                  <img src={{image}} style="max-height:100%; max-width: 75%; display: block; margin-left: auto;
                  margin-right: auto;">      
                  <div class="text">Caption Text</div>
                              
          </div>
          <a class="prev" (click)="plusSlides(-1)">&#10094;</a>
          <a class="next" (click)="plusSlides(1)">&#10095;</a>
      </div>
      <br>

      <!-- The dots/circles -->
      <div style="text-align:center">
        <span *ngFor="let image of retrievedImages; let i = index" class="dot" (click)="currentSlide(i+1)"></span>
        
      </div>

      <h3>Reservations:</h3>

      <table class="table">
          <thead>
            <tr>
              <th><abbr >Start</abbr></th>
              <th><abbr >End</abbr></th>
              <th><abbr >Duration</abbr></th>
              <th><abbr >Location</abbr></th>
              <th><abbr >Price</abbr></th>
              <th><abbr >Pts</abbr></th>
            </tr>
          </thead>
          <tfoot>
              <tr>
                  <th><abbr >Start</abbr></th>
                  <th><abbr >End</abbr></th>
                  <th><abbr >Duration</abbr></th>
                  <th><abbr >Location</abbr></th>
                  <th><abbr >Price</abbr></th>
                  <th><abbr >Pts</abbr></th>
                </tr>
          </tfoot>
          <tbody *ngFor = "let res of fishingReservations">
              <tr>
                  <td>{{formatDate(res.start)}}</td>
                  <td>{{formatDate(res.end)}}</td>
                  <td>{{res.duration}}min</td>
                  <td>{{res.location}}</td>
                  <td>{{res.price}}eur</td>
                  <td>3</td>
              </tr>
          </tbody>
      </table>
      <p>
        <button type="button" class="btn btn-outline-primary" (click)="isCollapsed = !isCollapsed"
                [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
          ADD NEW
        </button>
      </p>
      <h3>Available Reservations:</h3>
      <div id="collapseExample" *ngIf ="isCollapsed">
        <div class="card">
          <div class="card-body">
            <div class="center">
                <h3>Add new available reservation: </h3>
              </div>
              <mat-grid-list cols="1" rowHeight="700px">
                <mat-grid-tile>
                    <div class="example-container" >
                      <mat-form-field appearance="fill" class="width-200">
                        <mat-label>Start</mat-label>
                        <input type="datetime-local" matInput [(ngModel)]="newAvailableReservation.start">
                      </mat-form-field>
                      <br>
                      <mat-form-field appearance="fill" class="width-200">
                        <mat-label>End</mat-label>
                        <input type="datetime-local"  matInput [(ngModel)]="newAvailableReservation.end">
                      </mat-form-field>
                      <br>
                      <mat-form-field appearance="fill" class="width-200">
                        <mat-label>Location</mat-label>
                        <input type="text" matInput [(ngModel)]="newAvailableReservation.location"  placeholder="Narodnog Fronta 13, Novi Sad" >
                      </mat-form-field>
                      <br>
                      <mat-form-field appearance="fill" class="width-200">
                        <mat-label>Extra offers</mat-label>
                        <input type="text" matInput [(ngModel)]="newAvailableReservation.extraOffers">
                      </mat-form-field>
                      <br>
                      <mat-form-field appearance="fill" class="width-200">
                        <mat-label>Max cap</mat-label>
                        <input type="number" matInput [(ngModel)]="newAvailableReservation.maxCap">
                      </mat-form-field>
                      <br>
                      <mat-form-field appearance="fill" class="width-200">
                        <mat-label>Price (eur)</mat-label>
                        <input type="number" matInput [(ngModel)]="newAvailableReservation.price">
                      </mat-form-field>
                      <br>
                      <mat-card-actions>
                        <button  mat-raised-button (click)="addAvailableReservation()" color="primary">ADD</button>
                      </mat-card-actions>
                      <br>
                      <br><br>
                  </div>
                </mat-grid-tile>
              </mat-grid-list>
          </div>
        </div>
      </div>

      <table class="table">
          <thead>
            <tr>
              <th><abbr >Start</abbr></th>
              <th><abbr >End</abbr></th>
              <th><abbr >Duration</abbr></th>
              <th><abbr >Location</abbr></th>
              <th><abbr >Price</abbr></th>
              <th><abbr >Pts</abbr></th>
            </tr>
          </thead>
          <tfoot>
              <tr>
                  <th><abbr >Start</abbr></th>
                  <th><abbr >End</abbr></th>
                  <th><abbr >Duration</abbr></th>
                  <th><abbr >Location</abbr></th>
                  <th><abbr >Price</abbr></th>
                  <th><abbr >Pts</abbr></th>
                </tr>
          </tfoot>
          <tbody *ngFor = "let resA of availableReservations">
              <tr>
                  <td>{{formatDate(resA.start)}}</td>
                  <td>{{formatDate(resA.end)}}</td>
                  <td>{{resA.duration}}min</td>
                  <td>{{resA.location}}</td>
                  <td>{{resA.price}}eur</td>
                  <td>3</td>
              </tr>
          </tbody>
      </table>
    </div>


    <h2 *ngIf="fishingProfile.id == 0">Your Adventures: ({{fishingProfiles.length}})</h2>
    <div *ngIf="fishingProfile.id == 0">
      
      
      <div class="input-group" style="float:right;">
        <button  type="button" class="btn btn-outline-primary" (click)="isCollapsed1 = !isCollapsed1"
              [attr.aria-expanded]="!isCollapsed1" aria-controls="collapseExample">
        ADD NEW
        </button>
        <div style="width:50px"></div>
        <div class="form-outline">
          <input type="search" id="form1" class="form-control" [(ngModel)]="query" />
        </div>
        <button type="button" (click)="searchFishing()" class="btn btn-primary">
          Search
        </button>
        <button type="button" (click)="GetFishingProfiles()" class="btn btn-secondary">
          Reset
        </button>
      </div>
      
    </div>
    <div *ngIf="(fishingProfile.id == 0) && isCollapsed1" id="collapseExample" >
      <div class="card">
        <div class="card-body">
          <div class="center">
              <h3>Add new adventure: </h3>
            </div>
            <mat-grid-list cols="1" rowHeight="700px">
              <mat-grid-tile>
                  <div class="example-container" >
                    <mat-form-field appearance="fill" class="width-200">
                      <mat-label>Adress</mat-label>
                      <input type="text" matInput [(ngModel)]="newFishing.adress">
                    </mat-form-field>
                    <br>
                    <mat-form-field appearance="fill" class="width-200">
                      <mat-label>Description</mat-label>
                      <input type="text"  matInput [(ngModel)]="newFishing.description">
                    </mat-form-field>
                    <br>
                    <mat-form-field appearance="fill" class="width-200">
                      <mat-label>Instructor Bio</mat-label>
                      <input type="text" matInput [(ngModel)]="newFishing.instructorBio"  placeholder="Narodnog Fronta 13, Novi Sad" >
                    </mat-form-field>
                    <br>
                    <mat-form-field appearance="fill" class="width-200">
                      <mat-label>Max Cap</mat-label>
                      <input type="number" matInput [(ngModel)]="newFishing.maxCap">
                    </mat-form-field>
                    <br>
                    <mat-form-field appearance="fill" class="width-200">
                      <mat-label>Rules</mat-label>
                      <input type="text" matInput [(ngModel)]="newFishing.rules">
                    </mat-form-field>
                    <br>
                    <mat-form-field appearance="fill" class="width-200">
                      <mat-label>Equipment</mat-label>
                      <input type="text" matInput [(ngModel)]="newFishing.equipment">
                    </mat-form-field>
                    <br>
                    <mat-form-field appearance="fill" class="width-200">
                      <mat-label>Menu</mat-label>
                      <input type="text" matInput [(ngModel)]="newFishing.menu">
                    </mat-form-field>
                    <br>
                    <mat-form-field appearance="fill" class="width-200">
                      <mat-label>Cancel Conditions</mat-label>
                      <input type="text" matInput [(ngModel)]="newFishing.cancelConditions">
                    </mat-form-field>
                    <br>
                    <mat-card-actions>
                      <button  mat-raised-button (click)="addNewFishing()" color="primary">ADD</button>
                    </mat-card-actions>
                    <br>
                    <br><br>
                </div>
              </mat-grid-tile>
            </mat-grid-list>
        </div>
      </div>
    </div> 
    <div *ngIf="fishingProfile.id == 0" class="container">
      <div class="card-deck mb-3 text-center">
        <div class="card mb-4 shadow-sm" *ngFor="let fishing of fishingProfiles">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">{{fishing.description}}</h4>
            
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">{{fishing.maxCap}}<small class="text-muted">  person</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>{{fishing.instructorBio}}</li>
              <li>{{fishing.adress}}</li>
            </ul>
            <button type="button" (click)="openFishing(fishing)" class="btn btn-lg btn-block btn-outline-primary">Open</button>
          </div>
          <div>
            <button type="button" id="buttonCorner" (click)="deleteFishing(fishing.id)" class="btn btn-secondary">Delete</button>
          </div>
        </div>    
      </div>
    </div>
  </mat-tab>
  <mat-tab class="tab-center" label="Settings"> 
    <div class="container">
      <div class="row flex-lg-nowrap">
        <div class="col">
          <div class="row">
            <div class="col mb-3">
              <div class="card">
                <div class="card-body">
                  <div class="e-profile">
                    <div class="row">
                      <div class="col-12 col-sm-auto mb-3">
                        <div class="mx-auto" style="width: 140px;">
                          <div class="d-flex justify-content-center align-items-center rounded" style="height: 140px; background-color: rgb(233, 236, 239);">
                            <span style="color: rgb(166, 168, 170); font: bold 8pt Arial;">140x140</span>
                          </div>
                        </div>
                      </div>
                      <div class="col d-flex flex-column flex-sm-row justify-content-between mb-3">
                        <div class="text-center text-sm-left mb-2 mb-sm-0">
                          <h4 class="pt-sm-2 pb-1 mb-0 text-nowrap">{{instructor.firstName}}  {{instructor.lastName}}</h4>
                          <p class="mb-0">{{instructor.eMail}}</p>
                          <div class="text-muted"><small>{{instructor.adress}}</small></div>
                          <div class="mt-2">
                            <button class="btn btn-primary" type="button">
                              <i class="fa fa-fw fa-camera"></i>
                              <span>Change Photo</span>
                            </button>
                          </div>
                        </div>
                        <div class="text-center text-sm-right">
                          <div class="text-muted"><small>Joined 09 Dec 2017</small></div>
                        </div>
                      </div>
                    </div>
                    
                    <div class="tab-content pt-3">
                      <div class="tab-pane active">
                        <form class="form" novalidate="" style="background:rgb(233, 236, 239)">
                          <div class="row">
                            <div class="col">
                              <div class="row">
                                <div class="col">
                                  <div class="form-group">
                                    <label>Firstname</label>
                                    <input class="form-control" [(ngModel)]="updateInstructor.firstName" type="text" name="firstName"  >
                                  </div>
                                </div>
                                <div class="col">
                                  <div class="form-group">
                                    <label>Lastname</label>
                                    <input class="form-control" [(ngModel)]="updateInstructor.lastName" type="text" name="lastName"  >
                                  </div>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col">
                                  <div class="form-group">
                                    <label>Email</label>
                                    <input class="form-control" [(ngModel)]="updateInstructor.eMail" type="text" name="eMail">
                                  </div>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col mb-3">
                                  <div class="form-group">
                                    <label>City</label>
                                    <input class="form-control" [(ngModel)]="updateInstructor.city" type="text" name="city">
                                  </div>
                                </div>
                                <div class="col mb-3">
                                  <div class="form-group">
                                    <label>Country</label>
                                    <input class="form-control" [(ngModel)]="updateInstructor.country" type="text" name="country">
                                  </div>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col">
                                  <div class="form-group">
                                    <label>Adress</label>
                                    <input class="form-control" [(ngModel)]="updateInstructor.adress" type="text" name="adress">
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-12 col-sm-6 mb-3">
                              <div class="mb-2"><b>Change Password</b></div>
                              <div class="row">
                                <div class="col">
                                  <div class="form-group">
                                    <label>Current Password</label>
                                    <input class="form-control" [(ngModel)]="currPass" type="password" placeholder="••••••" name="currPass">
                                  </div>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col">
                                  <div class="form-group">
                                    <label>New Password</label>
                                    <input class="form-control" [(ngModel)]="newPass" type="password" placeholder="••••••" name="newPass">
                                  </div>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col">
                                  <div class="form-group">
                                    <label>Confirm <span class="d-none d-xl-inline">Password</span></label>
                                    <input class="form-control" [(ngModel)]="confPass" type="password" placeholder="••••••" name="confPass"></div>
                                </div>
                              </div>
                            </div>
                            
                          </div>
                          <div class="row">
                            <div class="col d-flex justify-content-end">
                              <button class="btn btn-primary" (click)="updateInstructorProfile()" type="submit">Save Changes</button>
                            </div>
                          </div>
                        </form>
      
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
      
            
          </div>
      
        </div>
      </div>
    </div>
  </mat-tab>
  <mat-tab class="tab-center" label="Reservations">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
      <div class="container">
        <div class="row flex-lg-nowrap">
          <div class="col">
            <div class="row flex-lg-nowrap">
              <div class="col mb-3">
                <div class="e-panel card">
                  <div class="card-body" style="background:rgb(166, 168, 170)">
                    <div class="card-title">
                      <h6 class="mr-2"><span>Reservations</span></h6>
                    </div>
                    <div class="e-table" >
                      <div class="table-responsive table-lg mt-3">
                        <table class="table table-bordered">
                          <thead>
                            <tr>
                              <th class="align-top"></th>
                              <th>User</th>
                              <th >Start</th>
                              <th >End</th>
                              <th> Duration </th>
                              <th>Location</th>
                              <th>Actions</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let r of allFishingReservations">
                              <td class="align-middle">
                                <div class="custom-control custom-control-inline custom-checkbox custom-control-nameless m-0 align-top">
                                  <i class="fas fa-check-circle"></i>
                                </div>
                              </td>
                              <td class="align-middle text-center">{{r.fishingClass.userId}}</td>
                              <td class="text-nowrap align-middle">{{formatDate(r.start)}}</td>
                              <td class="text-nowrap align-middle"><span>{{formatDate(r.end)}}</span></td>
                              <td class="text-center align-middle">{{r.duration}}min</td>
                              <td class="align-middle text-center">{{r.location}}</td>

                              <td class="text-center align-middle">
                                <div *ngIf="isDone(r.end)" class="btn-group align-top">
                                    <button class="btn btn-sm btn-outline-secondary badge" type="button" (click)="openDialogWithoutRef()" data-toggle="modal" data-target="#user-form-modal">Review</button>
                                    <button class="btn btn-sm btn-outline-secondary badge" type="button"><i class="fa fa-trash"></i></button>
                                </div>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                      <div class="d-flex justify-content-center">
                        <ul class="pagination mt-3 mb-0">
                          <li class="disabled page-item"><a href="#" class="page-link">‹</a></li>
                          <li class="active page-item"><a href="#" class="page-link">1</a></li>
                          <li class="page-item"><a href="#" class="page-link">2</a></li>
                          <li class="page-item"><a href="#" class="page-link">3</a></li>
                          <li class="page-item"><a href="#" class="page-link">4</a></li>
                          <li class="page-item"><a href="#" class="page-link">5</a></li>
                          <li class="page-item"><a href="#" class="page-link">›</a></li>
                          <li class="page-item"><a href="#" class="page-link">»</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12 col-lg-3 mb-3">
                <div class="card">
                  <div class="card-body">
                    <div class="text-center px-xl-3">
                      <button class="btn btn-success btn-block" type="button" data-toggle="modal" data-target="#user-form-modal">New User</button>
                    </div>
                    <hr class="my-3">
                    <div class="e-navlist e-navlist--active-bold">
                      
                    </div>
                    <hr class="my-3">
                    <div>
                      <div class="form-group">
                        <label>Date from - to:</label>
                        <div>
                          <input id="dates-range" class="form-control flatpickr-input" placeholder="01 Dec 17 - 27 Jan 18" type="text" readonly="readonly">
                        </div>
                      </div>
                      <div class="form-group">
                        <label>Search by Name:</label>
                        <div><input class="form-control w-100" type="text" placeholder="Name" value=""></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Dialog template #2 -->
    <ng-template #secondDialog>
      <h2 matDialogTitle>Lovely dialog!</h2>
      <mat-dialog-content>
        <div class="row">
          <div class="col">
            <div class="row">
              <div class="col mb-3">
                <div class="form-group">
                  <label>About</label>
                  <textarea class="form-control" rows="5" placeholder="My Bio"></textarea>
                </div>
              </div>
            </div>
          </div>
        </div>
      </mat-dialog-content>
      
      <mat-dialog-actions align="end">
        <button mat-button matDialogClose color="primary"> Ok</button>
        <button mat-button matDialogClose color="primary"> Close</button>
      </mat-dialog-actions>
    </ng-template> 
  </mat-tab> 
</mat-tab-group>  