<div class="p-3 mb-2 bg-dark">
    <nav class="navbar navbar-expand-lg .navbar-dark bg-dark" style="font-size: Larger;">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                <a class="nav-link" routerLink='/home'> Home Page <span class="sr-only"></span></a>
                </li>
                <li class="nav-item ">
                    <span></span>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink='/registration'> Register </a>
                </li>
                <li *ngIf = "loggedUser.id == null" class="nav-item">
                    <a class="nav-link" routerLink='/login'> Login </a>
                </li>
                <li *ngIf = "getUser()?.regType == 'INSTRUCTOR'" class="nav-item">
                    <a class="nav-link" routerLink='/instructorProfile'> Profile </a>
                </li>
                <li *ngIf = "getUser()?.regType == 'HOUSE_OWNER'" class="nav-item">
                    <a class="nav-link" routerLink='/houseOwnerProfile'> House Owner</a>
                </li>&nbsp;
                <li *ngIf = "getUser()?.regType == 'BOAT_OWNER'" class="nav-item">
                    <a class="nav-link" routerLink='/'> Boat Owner</a>
                </li>&nbsp;
                <li *ngIf = "getUser()?.regType == 'ADMIN'" class="nav-item">
                    <a class="nav-link" routerLink='/adminProfile'> Profile </a>
                </li>

            </ul>
            
            <button *ngIf = "loggedUser.id != null" (click) = "logOutClick()" class="btn btn-sm btn-outline-secondary"  type="button">Logout</button>
        </div>
    </nav>
</div>
